<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!-- CSS only -->
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
            crossorigin="anonymous"
    />
    <title>Retirement Calculator Output</title>
</head>
<body>
<div class="container">
    <nav class="navbar navbar-expand-sm navbar-dark bg-primary mb-3">
        <div class="container">
            <a href="retirement_calculator.html" class="navbar-brand text-white"
            >Monitor Template</a
            >
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="retirement_calculator.html" class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                    <a href="about.html" class="nav-link">About</a>
                </li>
                <li class="nav-item">
                    <a href="services.html" class="nav-link">Services</a>
                </li>
                <li class="nav-item">
                    <a href="contact.html" class="nav-link">Contact</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="card">
        <div class="card-header bg-primary text-white">Monitor 1</div>
        <div class="card-body">
            <div class="alert alert-primary">
                <p>Number of persons.</p>
            </div>
            <br/>

            <table class="table">
                <thead>
                <tr class="table-primary">
                    <th>Number of persons</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th th:text="${numberOfPersons}"></th>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <br>
    <br>

    <div class="card">
        <div class="card-header bg-primary text-white">Monitor 2</div>
        <div class="card-body">
            <div class="alert alert-primary">
                <p>Number of persons and total amount of money.</p>
            </div>

            <br>

            <table class="table">
                <thead>
                <tr class="table-primary">
                    <th>Number Of Persons</th>
                    <th>Total Amount of money</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th th:text="${monitoringOutput.personCount}"></th>
                    <th th:text="${monitoringOutput.amountOfMoneyCount}"></th>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>
